fastapi
uvicorn
pymongo
ultralytics
opencv-python-headless
reportlab
pandas
plotly
pydantic>=2.9.0
pydantic-settings
python-multipart
streamlit
requests
numpy
bcrypt
PyJWT
certifi
pytest
gunicorn
python-dotenv
